{% if site.pinboard_user %}
<section class="well">
  <ul class="nav">
    <li class="nav-header">My Pinboard</li>
  </ul>

  <ul id="pinboard_linkroll" class="nav">Fetching linkroll...</ul>
  <p><a href="http://pinboard.in/u:{{ site.pinboard_user }}">@{{ site.pinboard_user }}</a> on Pinboard</p>
</section>
<script type="text/javascript">
  var linkroll = 'pinboard_linkroll'; //id target for pinboard list
  var pinboard_user = "{{ site.pinboard_user }}"; //id target for pinboard list
  var pinboard_count = {{ site.pinboard_count }}; //id target for pinboard list
  (function(){
    var pinboardInit = document.createElement('script');
    pinboardInit.type = 'text/javascript';
    pinboardInit.async = true;
    pinboardInit.src = '{{ root_url }}/javascripts/asides/pinboard.js';
    document.getElementsByTagName('head')[0].appendChild(pinboardInit);
  })();
</script>
<style type="text/css">
span.pin-description {
  display: block;
}
a.pin-tag {
  font-size: small;
  color: gray;
}
#cw_badges {
  margin: 0 0 9px 15px;
}
</style>
{% endif %}
